[Unit]
Description=breakbox service

[Service]
Type=simple
User=root
WorkingDirectory=/home/drum/breakbox
ExecStart=python3.11 break.py
Restart=always

[Install]
WantedBy=multi-user.target
